<div class="container">
 <div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">

	<table class="table table-bordered table-hover table-condensed">
		<thead style="font-weight: bold">
			<td style="width:40%" ng-click="sortType = 'title'; sortReverse = !sortReverse">Title 
				<span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
			</td>
			<td style="width:10%" ng-click="sortType = 'format'; sortReverse = !sortReverse">Format
				<span ng-show="sortType == 'format' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'format' && sortReverse" class="fa fa-caret-up"></span>
			</td>
			<td style="width:10%" ng-click="sortType = 'length'; sortReverse = !sortReverse" >Length
				<span ng-show="sortType == 'length' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'length' && sortReverse" class="fa fa-caret-up"></span>
			</td>
			<td style="width:10%" ng-click="sortType = 'release'; sortReverse = !sortReverse">Release
				<span ng-show="sortType == 'release' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'release' && sortReverse" class="fa fa-caret-up"></span>			
			</td>
			<td style="width:20%" ng-click="sortType = 'rating'; sortReverse = !sortReverse">Rating
				<span ng-show="sortType == 'rating' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'rating' && sortReverse" class="fa fa-caret-up"></span>
			</td>
			<td style="width:10%">Edit</td>
		</thead>
		
		
		
		<tr ng-repeat="movie in movies | orderBy:sortType:sortReverse">
			<td>
				<!-- editable title (text with validation) -->
				<span editable-text="movie.title" e-name="title" e-form="rowform" 
					onbeforesave="checkTitle($data, movie.id)">
					{{ movie.title || 'empty' }}
				</span>
			</td>
			<td>
				<!-- editable status (select-local) -->
			    <span editable-select="movie.format" e-name="format" e-form="rowform" e-ng-options="s.value as s.text for s in formats">
					{{showFormat(movie)}}
				</span>
			</td>
			<td>
			
				<!-- editable title (text with validation) -->
				<span editable-text="movie.length" e-name="length" e-form="rowform" onbeforesave="checkLength($data, movie.id)">
					{{ movie.length || 'empty' }}
				</span>
			</td>
			<td>
				<!-- editable title (text with validation) -->
				<span editable-text="movie.releaseYear" e-name="releaseYear" e-form="rowform" onbeforesave="checkReleaseYear($data, movie.id)">
					{{ movie.releaseYear || 'empty' }}
				</span>
			</td>
			<td>
				<!-- editable title (text with validation) -->
				<span editable-radiolist="movie.rating" 
					e-ng-options="s.value as s.text for s in ::ratings track by s.value"
					onbeforesave="checkRating($data, movie.id)">
					{{ showRating() }}
				</span>
			</td>
			<td style="white-space: nowrap">
				<!-- form -->
				<form editable-form name="rowform" 
					onbeforesave="saveMovie($data, movie.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == movie">
					<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-info" 
					  ng-click='saveMovie(movie)'>save
					</button>
					<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
						cancel
					</button>
				</form>
				<div class="buttons" ng-show="!rowform.$visible">
					<button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
					<button type="button" class="btn btn-danger"  ng-click="removeMovie($index)">del</button>
				</div>  
			</td>
		</tr>
	</table>

	<button type="button" class="btn btn-default" ng-click="addMovie()">Add row</button>
	</div>
	</div>
</div>

